<article>

    <!-- form to check palindrome -->
    <form action="/" method="post" enctype='application/x-www-form-urlencoded' id="formId" name='formName'>
        <label for="txt">Check your phrase</label><br/>
        <textarea id="txt" name='phrase'></textarea><br/>
        <input type="button" id="btn" value="Check" onclick="submitData()" />
    </form>

    <!-- past results -->
    <h2>Past Results</h2>
    <ol>
        {{#each check}}
            {{#if status}}
                <li class="is-palindrome">{{phrase}}</li>
            {{else}}
                <li class="not-palindrome">{{phrase}}</li>
            {{/if}}
        {{/each}}
    </ol>
</article>
